<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gourmets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F581C15C1E5F653B00C57E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F581C1701E5F653C00C57E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F581C17B1E5F653C00C57E4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
